<footer class="footer footer-background">
    <div class="container-fluid fm-global-width">
        <div class="row pt-5 no-gutters">
            <div class="col-12" id="copyright-info">Copyright &copy; 2020 Claris International Inc. All rights reserved.</div>
        </div>
        <hr>
        <div class="row pb-5 no-gutters">
            <ul class="footerLegalLinks">
                <li>
                    <a id="bottombar-filemaker-link" target="_blank" href="https://www.filemaker.com/redirects/fmcloud2_admin.html?page=fcc_filemaker_inc&amp;lang=en">Claris International Inc.</a>
                </li>
                <span class="footerLinks-divider">|</span>
                <li>
                    <a id="bottombar-privacy-policy-link" target="_blank" href="https://www.filemaker.com/redirects/fmcloud2_admin.html?page=fcc_privacy&amp;lang=en">Privacy Policy</a>
                </li>
                <span class="footerLinks-divider">|</span>
                <li>
                    <a id="bottombar-terms-link" target="_blank" href="https://www.filemaker.com/redirects/fmcloud2_admin.html?page=fcc_terms_of_service&amp;lang=en">Terms of Service</a>
                </li>
                <span class="footerLinks-divider">|</span>
                <li>
                    <a id="bottombar-doc-link" target="_blank" href="https://www.filemaker.com/redirects/fmcloud2_admin.html?page=fcc_documentation&amp;lang=en">Documentation</a>
                </li>
                <span class="footerLinks-divider">|</span>
                <li>
                    <a id="bottombar-help-link" target="_blank" href="https://www.filemaker.com/redirects/fmcloud2_admin.html?page=fcc_help&amp;lang=en">Help</a>
                </li>
            </ul>
        </div>
    </div>
</footer>